.main-container{
    height: 15vh;
    width: 75vw;
    background: rgba(217,217,217);
    box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
    display: flex;
    align-items:center;
    justify-content:space-around;
    margin-top: 50px;
}


.type-mach{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    
}

.text-type-machine{
    margin-right: 10px;
}

.type-mach h1{
    font-size: 20px;
}
.id-mach{
    display: flex;
    align-items: center;
}
.id-mach h1{
    font-size: 20px;
}
.date-main{
    display:flex;
    align-items: center;
    justify-content: flex-start;
}
.date-main h1{
    font-size: 20px;
}

.machines{
    display: flex;
}

.dia-h1{
    padding-right: 20px;
}

.button-maintenance{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border: none;
    background-color: white;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: rgb(68,140,71);
    margin: auto;
    cursor: pointer;
}

.main-time{

}

.text-time{
    font-size: 20px;
}